#agreement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#agreement-container label {
  text-align: center;
}

.agreement-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 75%;
  border-radius: 15px;
  background: white;
  padding: 2rem;
}

.agreement-content span {
  font-size: 4rem;
  text-align: center;
}

.agreement-text {
  padding: 1rem;
  width: 75%;
  height: 45vh;
  margin: 2rem;
  border: 1px solid black;
  overflow: scroll;
}

@media (max-width: 800px) {
  .agreement-content span {
    font-size: 3rem;
  }

  .agreement-text {
    height: 40vh;
  }
}
