#agreement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.agreement-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 75%;
  border-radius: 15px;
  background: white;
  padding: 2rem;
}

.agreement-text {
  padding: 1rem;
  width: 75%;
  height: 45vh;
  margin: 2rem;
  border: 1px solid black;
  overflow: scroll;
}

span {
  font-size: 4rem;
}
